<!-- FILTER SELECTOR INCLUDE -->
<div id="filter_selectors_wrapper">
    <div class="autocomplete" style="width:300px;">
        <input id="studyprogram_input" type="text" name="studyprogram" placeholder="Studienprogramm">
    </div>
    <button id="studyprogram_btn" onclick="ShowSelectedStudyprogram()">Auswählen</button>

    <div id="filter_selectors" style="position:absolute; top:3px; right: 3px;">
        <select name="semester" id="semester_selector">
            <option value="all" id="all_semesters">Zeige alle Semester</option>
            <optgroup label="{{date.today().year}}">
                <option value="{{date.today().year}} 4" id="{{date.today().year}} 4">Frühjahrssemester {{date.today().year}}</option> 
                <option value="{{date.today().year}} 3" id="{{date.today().year}} 3">Herbstsemester {{date.today().year}}</option>
            </optgroup>
            <optgroup label="{{date.today().year-1}}">
                <option value="{{date.today().year-1}} 4" id="{{date.today().year-1}} 4">Frühjahrssemester {{date.today().year-1}}</option> {# {{'%s' | format((date.today().year-1) % 100)}} #}
                <option value="{{date.today().year-1}} 3" id="{{date.today().year-1}} 3">Herbstsemester {{date.today().year-1}}</option>
            </optgroup>
        </select>
    </div>
    <!--hwat-->

    <script type="text/javascript">
        $('select#semester_selector').change(function() {
            ShowSelectedSemester();
        });
        function ShowSelectedSemester() {
            $('[data-semester]').removeClass('hidden')
            if($("option:selected").val() == 'all') return;

            var year_semester = $("option:selected").val()
            var modules_to_filter = $(`[data-semester]`).not(`[data-semester*="${year_semester}"]`)
            $(modules_to_filter).addClass('hidden')
            return;
        }
        $( window ).on( "load", function() {
            ShowSelectedSemester();
        });
    </script>

    <script>

        function autocomplete(inp, arr) {
        /*the autocomplete function takes two arguments,
        the text field element and an array of possible autocompleted values:*/
        var currentFocus;
        /*execute a function when someone writes in the text field:*/
        inp.addEventListener("input", function(e) {
            var a, b, i, val = this.value;
            /*close any already open lists of autocompleted values*/
            closeAllLists();
            if (!val) { return false;}
            currentFocus = -1;
            /*create a DIV element that will contain the items (values):*/
            a = document.createElement("DIV");
            a.setAttribute("id", this.id + "autocomplete-list");
            a.setAttribute("class", "autocomplete-items");
            /*append the DIV element as a child of the autocomplete container:*/
            this.parentNode.appendChild(a);
            /*for each item in the array...*/
            for (i = 0; i < arr.length; i++) {
                /*check if the item starts with the same letters as the text field value:*/
                if (arr[i].substr(0, val.length).toUpperCase() == val.toUpperCase()) {
                /*create a DIV element for each matching element:*/
                b = document.createElement("DIV");
                /*make the matching letters bold:*/
                b.innerHTML = "<strong>" + arr[i].substr(0, val.length) + "</strong>";
                b.innerHTML += arr[i].substr(val.length);
                /*insert a input field that will hold the current array item's value:*/
                b.innerHTML += "<input type='hidden' value='" + arr[i] + "'>";
                /*execute a function when someone clicks on the item value (DIV element):*/
                    b.addEventListener("click", function(e) {
                    /*insert the value for the autocomplete text field:*/
                    inp.value = this.getElementsByTagName("input")[0].value;
                    /*close the list of autocompleted values,
                    or any other open lists of autocompleted values:*/
                    closeAllLists();
                });
                a.appendChild(b);
                }
            }
        });
        /*execute a function presses a key on the keyboard:*/
        inp.addEventListener("keydown", function(e) {
            var x = document.getElementById(this.id + "autocomplete-list");
            if (x) x = x.getElementsByTagName("div");
            if (e.keyCode == 40) {
                /*If the arrow DOWN key is pressed,
                increase the currentFocus variable:*/
                currentFocus++;
                /*and and make the current item more visible:*/
                addActive(x);
            } else if (e.keyCode == 38) { //up
                /*If the arrow UP key is pressed,
                decrease the currentFocus variable:*/
                currentFocus--;
                /*and and make the current item more visible:*/
                addActive(x);
            } else if (e.keyCode == 13) {
                /*If the ENTER key is pressed, prevent the form from being submitted,*/
                e.preventDefault();
                if (currentFocus > -1) {
                /*and simulate a click on the "active" item:*/
                if (x) x[currentFocus].click();
                }
            }
        });
        function addActive(x) {
            /*a function to classify an item as "active":*/
            if (!x) return false;
            /*start by removing the "active" class on all items:*/
            removeActive(x);
            if (currentFocus >= x.length) currentFocus = 0;
            if (currentFocus < 0) currentFocus = (x.length - 1);
            /*add class "autocomplete-active":*/
            x[currentFocus].classList.add("autocomplete-active");
        }
        function removeActive(x) {
            /*a function to remove the "active" class from all autocomplete items:*/
            for (var i = 0; i < x.length; i++) {
            x[i].classList.remove("autocomplete-active");
            }
        }
        function closeAllLists(elmnt) {
            /*close all autocomplete lists in the document,
            except the one passed as an argument:*/
            var x = document.getElementsByClassName("autocomplete-items");
            for (var i = 0; i < x.length; i++) {
            if (elmnt != x[i] && elmnt != inp) {
            x[i].parentNode.removeChild(x[i]);
            }
        }
        }
        /*execute a function when someone clicks in the document:*/
        document.addEventListener("click", function (e) {
            closeAllLists(e.target);
        });
        }

        studyprograms = {{studyprograms | safe}}
        studyprogram_textlist = Object.keys(studyprograms).map(function(key){
            return studyprograms[key];
        });
        studyprogram_ids = Object.keys(studyprograms)
        studyprogramid_moduleids = {{studyprogramid_moduleids | safe}}
        autocomplete(document.getElementById("studyprogram_input"), studyprogram_textlist);

        function ShowSelectedStudyprogram() {
            var studyprogram_id = studyprogram_textlist.indexOf($("studyprogram_input").val())
            var module_ids = studyprogramid_moduleids[studyprogram_id]
            var modules_to_filter = $(`[data-semester]`).not('.hidden')
            for(id in module_ids) {
                modules_to_filter = modules_to_filter.not(`#module_${id}`)
            }
            $(modules_to_filter).addClass('hidden')
            return;
        }
    </script>

    <style>
        .shown {
        transition:all 0.1s;
        }

        .hidden {
        visibility:collapse;
        width:0;
        height:0;
        padding:0;
        margin:0;
        opacity:0;
        }
    * { box-sizing: border-box; }
body {
  font: 16px Arial; 
}
.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  display: inline-block;
}
input {
  border: 1px solid transparent;
  background-color: #f1f1f1;
  padding: 10px;
  font-size: 16px;
}
input[type=text] {
  background-color: #f1f1f1;
  width: 100%;
}
input[type=submit] {
  background-color: DodgerBlue;
  color: #fff;
}
.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}
.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff; 
  border-bottom: 1px solid #d4d4d4; 
}
.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9; 
}
.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important; 
  color: #ffffff; 
}
    </style>
</div>
<!-- END FILTER SELECTOR INCLUDE -->
