<!-- FILTER SELECTOR INCLUDE -->
<div id="filter_selectors_wrapper" class="parent">
    <div class="left-align">
        <div class="autocomplete" style="width:400px;">
            <input  class="studyprogram" id="studyprogram_input" type="text" name="studyprogram" placeholder="Studienprogramm">
            <!-- <button class="studyprogram btn" id="studyprogram_btn" onclick="ShowSelectedModules()">Filtern</button> -->
            <button class="studyprogram btn" id="studyprogram_btn_clear" onclick="ClearStudyProgramFilter()">Filter löschen</button>
        </div>
    </div>

    <div id="filter_selectors" class="right-align">
        <select name="semester" id="semester_selector">
            <option value="all_years all_semesters" id="all_semesters">Alle Semester</option>
            {% for sesh in sessions %}
            <option value="{{sesh['year']}} {{sesh['session']}}" id="{{sesh['year']}} {{sesh['session']}}" {% if loop.index == 2 %} class="current_semester" selected {% endif %}>
                {% if sesh['session'] == '003' %} Herbstsemester {{sesh['year']}} 
                {% else %} Frühjahrssemester {{sesh['year']+1}}{% endif %} 
            </option>
            {% endfor %}       
        </select>
    </div>
    <div class="spacer" style="height: 3em"></div>
    <!-- Load filter.js in include to keep it include-only -->
    <script type="text/javascript" src="{{ url_for('static', filename='filter.js') }}"></script>
    <!-- <script type="text/javascript" src="{{ url_for('static', filename='additional/autocomplete.js') }}"></script> -->
    <script type="text/javascript">
        if (typeof studyprogram_textlist === 'undefined') {
            var studyprogram_textlist = [];
        }
        $('select#semester_selector').change(function() {
            ClearStudyProgramFilter();
            ShowSelectedModules();
            populate_studyprograms();
        });

        $('#studyprogram_input').on("change keyup autocompleteselect", function() {
            ShowSelectedModules();
        }).autocomplete({
            source: studyprogram_textlist,
            minLength: 0,
            select: function (event, ui) {
                $(this).val(ui.item.label);
                ShowSelectedModules();
            },
        }).focus(function() {
            $(this).autocomplete('search', $(this).val())
        });
    </script>
    <link rel="stylesheet" href="{{ url_for('static', filename='filter.css') }}">
</div>
<!-- END FILTER SELECTOR INCLUDE -->
