<!-- FILTER SELECTOR INCLUDE -->
<div id="filter_selectors_wrapper" style="position:absolute; top:3px; right: 3px;">
    <div id="filter_selectors">
        <select name="semester" id="semester_selector">
            <optgroup label="{{date.today().year}}">
                <option value="{{date.today().year}} 4" id="{{date.today().year}} 4">Frühjahrssemester {{date.today().year}}</option> 
                <option value="{{date.today().year}} 3" id="{{date.today().year}} 3">Herbstsemester {{date.today().year}}</option>
            </optgroup>
            <optgroup label="{{date.today().year-1}}">
                <option value="{{date.today().year-1}} 4" id="{{date.today().year-1}} 4">Frühjahrssemester {{date.today().year-1}}</option> {# {{'%s' | format((date.today().year-1) % 100)}} #}
                <option value="{{date.today().year-1}} 3" id="{{date.today().year-1}} 3">Herbstsemester {{date.today().year-1}}</option>
            </optgroup>
            <option value="all" id="all_semesters">Zeige alle Semester</option>
        </select>
    </div>
    <!--hwat-->

    <script type="text/javascript">
        $('select#semester_selector').change(function() {
            ShowSelectedSemester();
        });
        function ShowSelectedSemester() {
            $('[data-semester]').removeClass('hidden')
            if($("option:selected").val() == 'all') return;

            var year_semester = $("option:selected").val()
            var modules_to_filter = $(`[data-semester]`).not(`[data-semester*="${year_semester}"]`)
            $(modules_to_filter).addClass('hidden')
            return;
        }
        $( window ).on( "load", function() {
            ShowSelectedSemester();
        });
    </script>

    <style>
        .shown {
        transition:all 0.1s;
        }

        .hidden {
        visibility:collapse;
        width:0;
        height:0;
        padding:0;
        margin:0;
        opacity:0;
        }
    </style>
</div>
<!-- END FILTER SELECTOR INCLUDE -->
