.selected-semester,.selected-studyprogram {
  transition:all 0.1s;
}

.hidden {
  display: none;
  width:0;
  height:0;
  padding:0;
  margin:0;
  opacity:0;
}

.studyprogram {
  width: 50%;
  display: inline-block;
}

.studyprogram.btn {
  display: inline-block;
}

#studyprogram_btn_clear {
  width: 35%
}

#studyprogram_input {
  padding: 3px;
  margin: 3px;
}
.parent {
  position: relative;
  width: 100%;

}
.left-align, .right-align {
  position: absolute;
  margin: auto;
  top: 3px;

}
.left-align {
  left: 0;
  margin-left: 3px;
}
.right-align {
  right: 0;
  margin-right: 3px;
}

input {
  border: 1px solid transparent;
  background-color: #f1f1f1;
}

.ui-autocomplete {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  float: left;
  display: none;
  min-width: 160px;   
  list-style: none;
  background-color: #ffffff;
  border-color: #ccc;
  border-color: rgba(0, 0, 0, 0.2);
  border-style: solid;
  border-width: 0px 1px 0px 1px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
}

.ui-menu-item {
  padding: 1px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}

.ui-menu-item > a.ui-corner-all {
  display: block;
  padding: 3px 15px;
  clear: both;
  font-weight: normal;
  line-height: 18px;
  color: #555555;
  white-space: nowrap;
  text-decoration: none;
}

.ui-menu-item-highlight {
  font-weight: bold;
}

.ui-menu-item > .ui-state-hover, .ui-menu-item > .ui-state-active {
  color: #ffffff;
  background-color: DodgerBlue;
}