/* mildly animate elements being shown */
.selected-semester,.selected-studyprogram {
  transition:all 0.1s;
}

/* hide elements from page completely across all browsers */
.hidden {
  /* display: collapse does not remove item from safari */
  display: none;
  width:0;
  height:0;
  padding:0;
  margin:0;
  opacity:0;
}

/* fit the various sub filter elements on the page */
.parent {
  position: relative;
  width: 100%;
}
.left-align, .right-align {
  position: absolute;
  margin: auto;
  top: 3px;
  
}
.left-align {
  left: 0;
  margin-left: 3px;
}
.right-align {
  right: 0;
  margin-right: 3px;
}

/* elements in the studyprogram filter */
  input {
    border: 1px solid transparent;
    background-color: #f1f1f1;
  }
.studyprogram {
  width: 50%;
  display: inline-block;
}
.studyprogram.btn {
  display: inline-block;
}
#studyprogram_btn_clear {
  width: 35%
}
#studyprogram_input {
  padding: 3px;
  margin: 3px;
}
/* the jquery-ui autocomplete feature, restyled minimally invasive */
.ui-autocomplete {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  float: left;
  display: none;
  min-width: 160px;   
  list-style: none;
  background-color: #ffffff;
  border-color: #ccc;
  border-color: rgba(0, 0, 0, 0.2);
  border-style: solid;
  border-width: 0px 1px;
  box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  max-height: 250px; 
  overflow-y: scroll; 
  overflow-x: hidden;
}
.ui-autocomplete .ui-menu-item {
  padding: 1px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}
.ui-autocomplete .ui-menu-item > a.ui-corner-all {
  display: block;
  padding: 3px 15px;
  clear: both;
  font-weight: normal;
  line-height: 18px;
  color: #555555;
  white-space: nowrap;
  text-decoration: none;
}
.ui-autocomplete .ui-menu-item .ui-state-active {
  border: none;
}
/* mark hover / arrow key selection */
.ui-autocomplete .ui-menu-item a > .ui-state-hover, .ui-autocomplete .ui-menu-item a > .ui-state-active {
  color: #ffffff;
  background-color: DodgerBlue;
}
/* message to signify X further studyprograms found */
#further_studyprograms_msg {
  background-color: #f1f1f1;
  cursor: default;
  pointer-events: none;
}
/* highlight matching searchterms in studyprogram results */
.ui-autocomplete .ui-menu-item .ui-menu-item-highlight {
  font-weight: bold;
}
/* highlighting the searchterms in the further / no studyprogram message */
#further_studyprograms_msg b{
  all: inherit;
  display: inline;
  font-weight: bold;
}

/* custom scrollbar */
/* width */
::-webkit-scrollbar {
  width: 10px;
  border:1px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
  -webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.2);
  background-color: #F5F5F5;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

a[href^="#"].select2-search-choice-close {
  width: 8px;
  height:8px;
  padding-left: 4px;
  padding-bottom: 3px;
  background: -webkit-linear-gradient(-45deg, transparent 0%, transparent 46%, #dc6027 46%,  #dc6027 56%,transparent 56%, transparent 100%), -webkit-linear-gradient(45deg, transparent 0%, transparent 46%, #dc6027 46%,  #dc6027 56%,transparent 56%, transparent 100%);
}
