button {
    display: block; 
    width: 100%
}
td {
    font-size: 80%;
}
span.semester {
    display: inline-block;
    width: 2.8em;
}
.searchterm {
    /* color: #a3adb7; */
    /* float: right; */
}
div.count {
    width: 2em;
    background: lightgrey;
    border-radius: 10px;
    display: inline-block;
    text-align: center;
}

.loading {
    position:absolute; 
    height:100%;
    width:100%; 
    background-color: rgb(246, 246, 246, 0.7) !important;
    z-index:1000000;
    display: none;
}
