button {
    display: block; 
    width: 100%
}
td {
    font-size: 80%;
}
span.semester {
    display: inline-block;
    width: 2.8em;
}
.searchterm {
    /* color: #a3adb7; */
    /* float: right; */
}
div.count {
    width: 2em;
    background: lightgrey;
    border-radius: 10px;
    display: inline-block;
    text-align: center;
}

.loading {
    position:absolute; 
    height:100%;
    width:100%; 
    background-color: rgb(246, 246, 246, 0.7) !important;
    z-index:1000000;
    display: none;
    overflow: hidden;
}

/* The alert message box */
.alert {
    padding: 5px;
    padding-left: 20px;
    color: white;
    margin-bottom: 15px;
    border-radius: 5px;
} 
.alert-red {
    background-color: #f44336;
} 
.alert-blue {
    background-color: #2196F3;
} 
.alert-yellow {
    background-color: #f4f136;
} 
/* The close button */
.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  cursor: pointer;
  transition: 0.3s;
}
/* When moving the mouse over the close button */
.closebtn:hover {
  color: black;
}