<html>
    <head>
        <link rel="stylesheet" href="static/general.css">
        <link rel="stylesheet" href="static/uzh/app.css">
        <link rel="stylesheet" href="static/jquery-ui.min.css">
        <script type="text/javascript" src="static/external/jquery/jquery.min.js"></script>
        <script type="text/javascript" src="static/jquery-ui.min.js"></script>
        <script type="text/javascript" src="static/additional/iframeResizer.contentWindow.min.js"></script>
        <script type="text/javascript" src="static/additional/sorttable.js"></script>
    </head>
    <body>
        {% include 'includes/filter-selectors.html' %}
        <div class="mod mod-text skin-text-basics"> <!-- add this outer div to match UZH styling -->
            <div id="anchor-admin" data-api-key="{{secret_key}}" class="ui-accordion ui-widget ui-helper-reset" role="tablist">
                <h3>Angezeigte Elemente (Whitelist) <div class="count" id="count_whitelist"></div></h3>
                <div id="whitelist" style="padding: 0">
                    <div class="loading"><h3 class="loading ui-accordion-header ui-corner-top ui-state-default"> Module data is loading... </h3></div>
                         <table class="sortable"> <!--class="sortable"-->
                            <thead>
                                <td>Name des Moduls</td>
                                <td class="searchterm">Suchbegriff</td>
                                <td class="semester">Semster</td>
                                <td class="sorttable_nosort">Verbergen</td>
                            </thead>
                            <tbody id="whitelist_body">
                                <tr>
                                    <td colspan="2"><input type="number" id="whitelist_text" spellcheck="false" placeholder="Modulnummer (8-Stellige Zahl in der URL zum Modul)" style="width: 90%"></td>
                                    <td colspan="2"><button name="submit_whitelist" type="button" onclick="save_module()">Modul hinzufügen</button></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                <h3>Suchbegriffe</h3>
                <div style="padding: 0">
                    <table> <!--class="sortable"-->
                        <thead>
                            <td>Begriff</td>
                            <td>Entfernen</td>
                        </thead>
                        <tbody id="searchterms_body">
                            <tr>
                                <td><input type="text" pattern="\S+" id="searchterm_text" spellcheck="true" placeholder="Suchbegriff für Titel, Beschrieb oder Kürzel" style="width: 90%"></td>
                                <td><button name="submit_searchterm" type="button" onclick="save_searchterm()">Suchbegriff speichern</button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <h3>Vorschläge basierend auf Suchbegriffen <div class="count" id="count_suggestions"></div></h3>
                <div id="suggestions" style="padding: 0">
                    <div class="loading"><h3 class="loading ui-accordion-header ui-corner-top ui-state-default"> Module data is loading... </h3></div>
                    <table class="sortable">
                        <thead>
                            <td id="suggestions_title_th">Name des Moduls</td>
                            <td class="searchterm">Suchbegriff</td> 
                            <td class="semester">Semester</td>
                            <td class="sorttable_nosort">Anzeigen/Verbergen</td>
                            <td>Status</td>
                        </thead>
                        <tbody id="suggestions_body">
                        </tbody>
                    </table>
                </div>

                <h3>Verborgene Elemente (Blacklist) <div class="count" id="count_blacklist"></div></h3>
                <div id="blacklist" style="padding: 0">
                    <div class="loading"><h3 class="loading ui-accordion-header ui-corner-top ui-state-default"> Module data is loading... </h3></div>
                     <table class="sortable"> <!--class="sortable"-->
                        <thead>
                            <td>Name des Moduls</td>
                            <td class="searchterm">Suchbegriff</td>
                            <td class="semester">Semster</td>
                            <td class="sorttable_nosort">Anzeigen</td>
                        </thead>
                        <tbody id="blacklist_body">
                        </tbody>
                    </table>
                </div>
            </div>
        </div> <!-- END outer div to match UZH styling -->
        <script type="text/javascript" src="static/admin.js"></script> 

        <script type="text/javascript">
            function updateModules() {
                // update modules
                $.ajax({
                    url: apiUrl+'/update',
                    method : 'GET',
                    beforeSend: function () {
                        $('#anchor-admin').before(`
                        <div id="modules-updating" class="alert alert-blue">
                        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
                            <h3>Module werden aktualisiert</h3><p>Bitte haben Sie Geduld, dies kann je nach Anzahl der Module bis zu einer Minute dauern</p>
                        </div>
                        `)
                    },
                    error : function (err) {
                        console.log(err)
                        $('#modules-updating').removeClass('alert-blue').addClass('alert-red')
                        $('#modules-updating').find($('h3')).text('Die Module konnten nicht aktualisiert werden.')
                        $('#modules-updating').find($('p')).text('Bitte versuchen Sie es erneut, in dem Sie die Seite neu laden.')
                    },
                    success : function() {
                        // populate whitelist
                        populate_whitelist();
                        // populate blacklist
                        populate_blacklist();
                        $('#modules-updating').hide();
                        setCookie("updated_recently", true, 1);
                    },
                })
            }
            
            $(document).ready(function () {
                // populate searchterms
                populate_searchterms()

                // populate whitelist
                populate_whitelist()
                // populate blacklist
                populate_blacklist()

                // populate suggestions
                populate_suggestions()

                populate_studyprograms()

                // make accordion
                $('#anchor-admin').accordion({collapsible:true,heightStyle:'content'})

                // check if modules updated recently, do so if necesary
                checkUpdatedCookie();

            });


            function setCookie(cname, cvalue, exdays) {
                var d = new Date();
                d.setTime(d.getTime() + (exdays * 24 * 60 * 60 * 1000));
                var expires = "expires="+d.toUTCString();
                document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
            }

            function getCookie(cname) {
                var name = cname + "=";
                var ca = document.cookie.split(';');
                for(var i = 0; i < ca.length; i++) {
                    var c = ca[i];
                    while (c.charAt(0) == ' ') {
                    c = c.substring(1);
                    }
                    if (c.indexOf(name) == 0) {
                    return c.substring(name.length, c.length);
                    }
                }
                return "";
            }

            function checkUpdatedCookie() {
                var update_status = getCookie("updated_recently");
                if (update_status != "") {
                    return;
                } else {
                    updateModules();
                }
            }
        </script>

    </body>
</html>
