<html>
    <head>
        <link rel="stylesheet" href="static/jquery-ui.min.css">
        <script type="text/javascript" src="static/external/jquery/jquery-3.3.1.min.js"></script>
        <script type="text/javascript" src="static/jquery-ui.min.js"></script>
        <script type="text/javascript" src="static/admin.js"></script>
    </head>
    <body>
        <p>
            <div id="anchor-admin" data-api-key="{{secret_key}}"></div>
            <br>
            Above is the admin interface, below the public interface.
            <br>
        </p>
        <hr>
        
        <div> id="anchor-public"></div>

    </body>
</html>