<html>
    <head>
        <link rel="stylesheet" href="static/jquery-ui.min.css">
        {% if config['ENV'] == 'development' %}
            <link rel="stylesheet" href="static/uzh/app.css">
        {% endif %}
        <script type="text/javascript" src="static/external/jquery/jquery-3.3.1.min.js"></script>
        <script type="text/javascript" src="static/jquery-ui.min.js"></script>


    </head>
    <body>
        <div id="anchor-admin" data-api-key="{{secret_key}}"></div>
        <script type="text/javascript" src="static/admin.js"></script>
        
        <br>
            <hr>
        <br>
        <p>
            Above is the admin interface, below the public interface.
        </p>
        <br>
            <hr>
        
        <div id="anchor-public"></div>
        <script type="text/javascript" src="static/public.js"></script>

    </body>
</html>