<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='general.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='uzh/app.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='jquery-ui/jquery-ui.min.css') }}">
        <script type="text/javascript" src="{{ url_for('static', filename='jquery-ui/external/jquery/jquery.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='jquery-ui/jquery-ui.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='additional/iframeResizer.contentWindow.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='admin.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='public.js') }}"></script>
    </head>
    <body>
        {% include 'includes/filter-selectors.html' %}
        <div id="anchor-public" class="mod mod-text skin-text-basics"></div>

        <script type="text/javascript">
            $(document).ready(function () {
                populate_studyprograms();
                ShowSelectedModules();
            });
        </script>
    </body>
</html>